body{
	margin:0;
	padding:0;
}
header{
	background-color: #121B2A;

}
.wrapper {
	overflow:hidden;
	margin: 0 auto;
	width: 80%;
}

.logo {
	width:15%;
	float:left;
}

.logo img{
	width: 100%;

}

.menu {
	width:70%;
	float:right;
	margin-top: 20px;
}

.menu ul{
	float: right;

}

.menu ul li{
	float: left;
    list-style: none;

}

.menu ul li a{
	font-family: sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	padding:0 25px;
	display:inline-block;
	transition:.3s;

}

.menu ul li a:hover{
	color:blue;
}

.menu ul li:last-child a{
	padding-right:0;
}